In [1]:
import pandas as pd
import numpy as np
import ast

file = pd.read_csv("author.csv")

In [2]:
file.head()

,Unnamed: 0,j_user,RT_l10,sd_RT,FC_l10,sd_FC,FC,RT
0,0,"{'id': 2107671, 'id_str': '2107671', 'name': '...",0.4,0.489898,1.7,3.796051,0.0,0.0
1,1,"{'id': 4869021, 'id_str': '4869021', 'name': '...",8.4,16.805951,76.1,127.668673,25.0,3.0
2,2,"{'id': 14206520, 'id_str': '14206520', 'name':...",0.2,0.400000,2.5,3.442383,0.0,0.0
3,3,"{'id': 22317044, 'id_str': '22317044', 'name':...",0.0,0.000000,0.3,0.458258,0.0,0.0
4,4,"{'id': 22935720, 'id_str': '22935720', 'name':...",3.6,6.711185,2.8,5.015974,0.0,1.0

In [3]:
file.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
file.head()

,j_user,RT_l10,sd_RT,FC_l10,sd_FC,FC,RT
0,"{'id': 2107671, 'id_str': '2107671', 'name': '...",0.4,0.489898,1.7,3.796051,0.0,0.0
1,"{'id': 4869021, 'id_str': '4869021', 'name': '...",8.4,16.805951,76.1,127.668673,25.0,3.0
2,"{'id': 14206520, 'id_str': '14206520', 'name':...",0.2,0.400000,2.5,3.442383,0.0,0.0
3,"{'id': 22317044, 'id_str': '22317044', 'name':...",0.0,0.000000,0.3,0.458258,0.0,0.0
4,"{'id': 22935720, 'id_str': '22935720', 'name':...",3.6,6.711185,2.8,5.015974,0.0,1.0

In [5]:
file['j_user'][0] ### aquesta es la info que se'ns proporciona de cada usuari
#coses importants pel num de likes (de moment):
#protected
#followers_count
#friends_count
#listed_count (contains the number of public lists that this user is a member of.)
#favourites_count
#statuses_count

"{'id': 2107671, 'id_str': '2107671', 'name': 'Gabriel Navarro', 'screen_name': 'gabinavarros', 'location': 'Murcia, Spain', 'description': '#Comunicación #Digital #Pymes. Licenciado en #Economía (@EconomicasUMU) y Graduado en #Filosofía (@FacFilosoMurcia) por la @UMU.', 'url': 'https://t.co/hWz3N9kxZM', 'entities': {'url': {'urls': [{'url': 'https://t.co/hWz3N9kxZM', 'expanded_url': 'http://about.me/gabinavarro', 'display_url': 'about.me/gabinavarro', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 5386, 'friends_count': 3861, 'listed_count': 304, 'created_at': 'Sat Mar 24 14:28:53 +0000 2007', 'favourites_count': 15325, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': False, 'statuses_count': 85493, 'lang': 'es', 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'FFFFFF', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme13/bg.gif', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme13/bg.gif', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1059181678755831808/CDqXOZGB_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1059181678755831808/CDqXOZGB_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/2107671/1540285952', 'profile_link_color': '0084B4', 'profile_sidebar_border_color': 'BDDCAD', 'profile_sidebar_fill_color': 'DDFFCD', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}"

In [6]:
print(type(file['j_user'][0])) #es una string, ho convertim a dict per fer-ho més manejable
fila0 =ast.literal_eval(file['j_user'][0])
print(type(fila0))

<class 'str'>
<class 'dict'>

In [7]:
numl = len(file.index.values)
file['protected']=np.zeros(numl)
file['followers_count']=np.zeros(numl)
file['friends_count']=np.zeros(numl)
file['listed_count']=np.zeros(numl)
file['favourites_count']=np.zeros(numl)
file['statuses_count']=np.zeros(numl)

In [8]:
for line in range(numl):
    file['j_user'][line] =ast.literal_eval(file['j_user'][line])
    if (file['j_user'][line]['protected']=='True'):
        file['protected'][line] = 1
    else:
        file['protected'][line] = 0
        
    file['followers_count'][line] = int(file['j_user'][line]['followers_count'])
    
    file['friends_count'][line] = int(file['j_user'][line]['friends_count'])
    
    file['listed_count'][line] = int(file['j_user'][line]['listed_count'])

    file['favourites_count'][line] = int(file['j_user'][line]['favourites_count'])
    
    file['statuses_count'][line] = int(file['j_user'][line]['statuses_count'])

C:\Users\Nuria\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Nuria\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Nuria\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Nuria\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Nuria\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Nuria\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Nuria\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [9]:
file.drop('j_user',axis=1,inplace=True)

In [10]:
file.to_csv('clean_authors.csv')

In [11]:
file.head()

,RT_l10,sd_RT,FC_l10,sd_FC,FC,RT,protected,followers_count,friends_count,listed_count,favourites_count,statuses_count
0,0.4,0.489898,1.7,3.796051,0.0,0.0,0.0,5386.0,3861.0,304.0,15325.0,85493.0
1,8.4,16.805951,76.1,127.668673,25.0,3.0,0.0,24075.0,100.0,96.0,20991.0,10496.0
2,0.2,0.400000,2.5,3.442383,0.0,0.0,0.0,297.0,190.0,9.0,6257.0,28572.0
3,0.0,0.000000,0.3,0.458258,0.0,0.0,0.0,557.0,650.0,19.0,6218.0,5983.0
4,3.6,6.711185,2.8,5.015974,0.0,1.0,0.0,54626.0,4640.0,1646.0,405.0,70865.0

In [12]:
Y_FC = pd.Series.to_frame(file['FC'])
Y_RT = pd.Series.to_frame(file['RT'])

X = file
X.drop('FC',axis=1,inplace=True)
X.drop('RT',axis=1,inplace=True)

In [13]:
from sklearn import model_selection

X_train_fc, X_test_fc, y_train_fc, y_test_fc = model_selection.train_test_split(X, Y_FC, train_size = 0.7, random_state = 42)
X_train_rt, X_test_rt, y_train_rt, y_test_rt = model_selection.train_test_split(X, Y_RT, train_size = 0.7, random_state = 42)

C:\Users\Nuria\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [14]:
# Let us tokenize the data
from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(X_train_fc,y_train_fc)

y_hat_fc = nb.predict(X_test_fc)
from sklearn import metrics   
print('FC:\n')   
print ("classification accuracy:", metrics.accuracy_score(y_hat_fc, y_test_fc))
print ("Classification Report:")
print (metrics.classification_report(y_hat_fc,np.array(y_test_fc)))

nb = BernoulliNB()
nb.fit(X_train_rt,y_train_rt)

y_hat_rt = nb.predict(X_test_rt)
from sklearn import metrics   

print('\nRT:\n')
print ("classification accuracy:", metrics.accuracy_score(y_hat_rt, y_test_rt))
print ("Classification Report:")
print (metrics.classification_report(y_hat_rt,np.array(y_test_rt)))

C:\Users\Nuria\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

FC:

classification accuracy: 0.4642857142857143
Classification Report:
             precision    recall  f1-score   support

        0.0       1.00      0.46      0.63        56
        1.0       0.00      0.00      0.00         0
        2.0       0.00      0.00      0.00         0
        3.0       0.00      0.00      0.00         0
        4.0       0.00      0.00      0.00         0
        5.0       0.00      0.00      0.00         0
        6.0       0.00      0.00      0.00         0
        8.0       0.00      0.00      0.00         0

avg / total       1.00      0.46      0.63        56


RT:

classification accuracy: 0.7678571428571429
Classification Report:
             precision    recall  f1-score   support

        0.0       1.00      0.77      0.87        56
        1.0       0.00      0.00      0.00         0
        2.0       0.00      0.00      0.00         0
        3.0       0.00      0.00      0.00         0
        4.0       0.00      0.00      0.00         0
       11.0       0.00      0.00      0.00         0

avg / total       1.00      0.77      0.87        56

C:\Users\Nuria\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1137: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)