In [15]:
import pandas as pd
import numpy as np
import ast

In [16]:
file = pd.read_csv("author.csv")

In [17]:
file.drop('Unnamed: 0',axis=1,inplace=True)
file.head()

,j_user,RT_l10,sd_RT,FC_l10,sd_FC,FC,RT
0,"{'id': 756431, 'id_str': '756431', 'name': 'Ar...",2.4,3.929377,15.5,32.022648,0.0,0.0
1,"{'id': 1622441, 'id_str': '1622441', 'name': '...",0.2,0.600000,0.8,0.979796,1.0,0.0
2,"{'id': 1770311, 'id_str': '1770311', 'name': '...",17.9,13.626812,37.2,40.931162,21.0,10.0
3,"{'id': 2107671, 'id_str': '2107671', 'name': '...",0.4,0.489898,1.7,3.796051,0.0,0.0
4,"{'id': 3127331, 'id_str': '3127331', 'name': '...",2.3,5.216321,3.4,6.545227,0.0,0.0

In [18]:
file['j_user'][0] ### aquesta es la info que se'ns proporciona de cada usuari
#coses importants pel num de likes (de moment)(tambe les escullo perque son numeriques):
#protected
#followers_count
#friends_count
#listed_count (contains the number of public lists that this user is a member of.)
#favourites_count
#statuses_count

#afegeixo noves:
#geo_enabled
#verified
#contributors_enabled
#is_translator
#is_translation_enabled
#profile_background_tile
#profile_use_background_image
#has_extended_profile
#default_profile
#default_profile_image

"{'id': 756431, 'id_str': '756431', 'name': 'Arturo Paniagua', 'screen_name': 'ajpaniagua', 'location': 'Madrid, España', 'description': 'Music First! Periodista. Presento #SesionesMovistarPlus, conciertos y entrevistas musicales los viernes en @movistarplus / Comentarista  #LatinGrammy en España', 'url': 'https://t.co/8qWJU8MxWg', 'entities': {'url': {'urls': [{'url': 'https://t.co/8qWJU8MxWg', 'expanded_url': 'http://www.arturopaniagua.com', 'display_url': 'arturopaniagua.com', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 19645, 'friends_count': 949, 'listed_count': 662, 'created_at': 'Wed Feb 07 23:43:33 +0000 2007', 'favourites_count': 12334, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 55829, 'lang': 'es', 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F9FA', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme15/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme15/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1060162470126514176/OYV6PDd-_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1060162470126514176/OYV6PDd-_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/756431/1540462452', 'profile_link_color': 'DD2E44', 'profile_sidebar_border_color': 'FFFFFF', 'profile_sidebar_fill_color': 'C0DFEC', 'profile_text_color': '333333', 'profile_use_background_image': False, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'regular'}"

In [19]:
numl = len(file.index.values) #1592 (before) #2378 (now)
print(numl)

2378

In [20]:
cols_num = ['followers_count','friends_count','listed_count','favourites_count','statuses_count']
#cols_TF = ['protected','geo_enabled','verified','contributors_enabled','is_translator','is_translation_enabled',
#        'profile_background_tile','profile_use_background_image','has_extended_profile','default_profile',
#        'is_translator','is_translation_enabled','default_profile_image']

#in the model_newauthor notebook it was seen that only the cols_num variables were useful

#for col in np.r_[cols_num,cols_TF]:
for col in cols_num:
    file[col]=np.zeros(numl)

for line in range(numl):
    file['j_user'][line] =ast.literal_eval(file['j_user'][line])
    for col in cols_num:
        file[col][line] = int(file['j_user'][line][col])
    #for col in cols_TF:
    #    if (file['j_user'][line][col]=='True'):
    #        file[col][line] = 1
    #    else:
    #        file[col][line] = 0

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [21]:
file.drop('j_user',axis=1,inplace=True)
file.head()

,RT_l10,sd_RT,FC_l10,sd_FC,FC,RT,followers_count,friends_count,listed_count,favourites_count,statuses_count
0,2.4,3.929377,15.5,32.022648,0.0,0.0,19645.0,949.0,662.0,12334.0,55829.0
1,0.2,0.600000,0.8,0.979796,1.0,0.0,4221.0,281.0,340.0,587.0,13650.0
2,17.9,13.626812,37.2,40.931162,21.0,10.0,1133925.0,1.0,9745.0,16.0,65228.0
3,0.4,0.489898,1.7,3.796051,0.0,0.0,5386.0,3861.0,304.0,15325.0,85493.0
4,2.3,5.216321,3.4,6.545227,0.0,0.0,1072.0,433.0,101.0,899.0,19893.0

In [22]:
file.to_csv('clean_newauthors.csv')