In [2]:
import pandas as pd
import numpy as np
import ast

file = pd.read_csv("author.csv")

In [3]:
file.head()

,Unnamed: 0,j_user,RT_l10,sd_RT,FC_l10,sd_FC
0,0,"{'id': 22317044, 'id_str': '22317044', 'name':...",0.8,1.077033,0.3,0.458258
1,1,"{'id': 22935720, 'id_str': '22935720', 'name':...",3.1,6.700000,1.8,4.445222
2,2,"{'id': 32406749, 'id_str': '32406749', 'name':...",350.4,886.438063,0.5,0.806226
3,3,"{'id': 42402745, 'id_str': '42402745', 'name':...",41.3,97.090731,0.4,0.663325
4,4,"{'id': 49673609, 'id_str': '49673609', 'name':...",480.8,1426.075019,3.8,7.180529

In [4]:
file.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
file.head()

,j_user,RT_l10,sd_RT,FC_l10,sd_FC
0,"{'id': 22317044, 'id_str': '22317044', 'name':...",0.8,1.077033,0.3,0.458258
1,"{'id': 22935720, 'id_str': '22935720', 'name':...",3.1,6.700000,1.8,4.445222
2,"{'id': 32406749, 'id_str': '32406749', 'name':...",350.4,886.438063,0.5,0.806226
3,"{'id': 42402745, 'id_str': '42402745', 'name':...",41.3,97.090731,0.4,0.663325
4,"{'id': 49673609, 'id_str': '49673609', 'name':...",480.8,1426.075019,3.8,7.180529

In [6]:
file['j_user'][0] ### aquesta es la info que se'ns proporciona de cada usuari
#coses importants pel num de likes (de moment):
#protected
#followers_count
#friends_count
#listed_count (contains the number of public lists that this user is a member of.)
#favourites_count
#statuses_count

"{'id': 22317044, 'id_str': '22317044', 'name': 'Miguel A.', 'screen_name': 'farena', 'location': '38.541883,-0.134323', 'description': '#Alquiler de #apartamentos #vacacionales en #Benidorm . Diplomado en #Turismo. Tambien vendemos propiedades inmobiliarias Presidente de #APTUR.', 'url': 'https://t.co/4N9vqDXQVz', 'entities': {'url': {'urls': [{'url': 'https://t.co/4N9vqDXQVz', 'expanded_url': 'http://www.fincasarena.es', 'display_url': 'fincasarena.es', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 557, 'friends_count': 650, 'listed_count': 19, 'created_at': 'Sun Mar 01 01:08:53 +0000 2009', 'favourites_count': 6218, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': False, 'statuses_count': 5983, 'lang': 'es', 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'C0DEED', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1038055580362002432/-8UVjE4P_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1038055580362002432/-8UVjE4P_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/22317044/1536326833', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}"

In [7]:
print(type(file['j_user'][0])) #es una string, ho convertim a dict per fer-ho més manejable
fila0 =ast.literal_eval(file['j_user'][0])
print(type(fila0))

<class 'str'>
<class 'dict'>

In [8]:
numl = len(file.index.values)
file['protected']=np.zeros(numl)
file['followers_count']=np.zeros(numl)
file['friends_count']=np.zeros(numl)
file['listed_count']=np.zeros(numl)
file['favourites_count']=np.zeros(numl)
file['statuses_count']=np.zeros(numl)

In [9]:
for line in range(numl):
    file['j_user'][line] =ast.literal_eval(file['j_user'][line])
    if (file['j_user'][line]['protected']=='True'):
        file['protected'][line] = 1
    else:
        file['protected'][line] = 0
        
    file['followers_count'][line] = int(file['j_user'][line]['followers_count'])
    
    file['friends_count'][line] = int(file['j_user'][line]['friends_count'])
    
    file['listed_count'][line] = int(file['j_user'][line]['listed_count'])

    file['favourites_count'][line] = int(file['j_user'][line]['favourites_count'])
    
    file['statuses_count'][line] = int(file['j_user'][line]['statuses_count'])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [10]:
file.drop('j_user',axis=1,inplace=True)

In [13]:
file.to_csv('clean_authors.csv')