In [1]:
import pymongo
import numpy as np
import pandas as pd
import datetime,time

In [5]:
# Connect with mongodb

try:
    with open("credentials.txt", 'r', encoding='utf-8') as f:
        [name,password,url,dbname]=f.read().splitlines()
        conn=pymongo.MongoClient("mongodb://{}:{}@{}/{}".format(name,password,url,dbname))
    print ("Connected successfully!!!")
except pymongo.errors.ConnectionFailure as e:
    print ("Could not connect to MongoDB: %s" % e) 
    

    
db = conn['tweempact']

Connected successfully!!!

In [6]:
db.collection_names()

C:\Users\Albert Prat\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

['system.indexes', 'tweets_noRT', 'users_noRT', 'tweets', 'tweet_users']

In [44]:
def read_mongo(collections, query={}, host='localhost', port=27017, username=None, password=None, no_id=True):
    import pandas as pd
    import pymongo
    """ Read from Mongo and Store into DataFrame """
    # Connect with mongodb

    try:
        with open("credentials.txt", 'r', encoding='utf-8') as f:
            [name,password,url,dbname]=f.read().splitlines()
            conn=pymongo.MongoClient("mongodb://{}:{}@{}/{}".format(name,password,url,dbname))
        print ("Connected successfully!!!")
    except pymongo.errors.ConnectionFailure as e:
        print ("Could not connect to MongoDB: %s" % e) 
     
    db = conn['tweempact']
    df1 = pd.DataFrame()
    for collection in collections:
        cursor = db[collection].find(query)
        df =  pd.DataFrame(list(cursor))
        if no_id:
            del df['_id']
        df1 = df1.append(df)
    df1 = df1.reset_index(drop = True)
    return df1

In [45]:
df = read_mongo(["tweets", "tweets_noRT"])

Connected successfully!!!

C:\Users\Albert Prat\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [46]:
len(df)

30651

In [47]:
 def author_dataset_conversion(df):   
    import time
    import numpy as np
    import pandas as pd

    cleaned = df[["id", "created_at","entities", "extended_entities","favorite_count","retweet_count","source","text", "truncated","user","quoted_status_id"]]
    ids = [user["id"] for user in cleaned["user"]]
    cleaned["id_num"] = ids

    #preparing output variables
    output = pd.DataFrame()
    users = []
    mean_RT_last10,mean_FC_last10 = [],[]
    sd_RT,sd_FC  = [],[]
    y1,y2=[],[]

    for _id in np.unique(ids):
        subset = cleaned[cleaned["id_num"]==_id].reset_index(drop=True)

        #filtering tweets from all tweets and RT
        l = list(subset["text"])
        filtr = ["RT" not in i for i in l]
        subset = subset[pd.Series(filtr)]
        if len(subset)>=11:
            reindexed = subset["created_at"].reset_index(drop=True)
            #convert tweet date into python date
            subset["created_at_pydate"] = [time.strftime('%Y-%m-%d %H:%M:%S', time.strptime(reindexed[i],'%a %b %d %H:%M:%S +0000 %Y'))for i in range(0,len(reindexed))]
            subset = subset.sort_values(by="created_at_pydate").reset_index(drop=True)

            last10_tweets = subset[-11:-1]
            last_tweet = subset[-1:]
            #RT parameters last 10 tweets
            mean_RT_last10.append(np.mean(last10_tweets["retweet_count"]))
            sd_RT.append(np.std(last10_tweets["retweet_count"]))
            #FC parameters last 10 tweets
            mean_FC_last10.append(np.mean(last10_tweets["favorite_count"]))
            sd_FC.append(np.std(last10_tweets["favorite_count"]))
            #take json user
            j_user = subset[-1:]["user"].reset_index(drop=True)[0]
            users.append(j_user)
            #parameters of last tweet
            y1.append(np.mean(last_tweet["favorite_count"]))
            y2.append(np.mean(last_tweet["retweet_count"]))
    output["j_user"]=users
    output["RT_l10"]=mean_RT_last10
    output["sd_RT"]=sd_RT
    output["FC_l10"]=mean_FC_last10
    output["sd_FC"]=sd_FC
    output["FC"]=y1
    output["RT"]=y2
    return output

In [49]:
output2 = author_dataset_conversion(df)

C:\Users\Albert Prat\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [51]:
output2

,j_user,RT_l10,sd_RT,FC_l10,sd_FC,FC,RT
0,"{'id': 756431, 'id_str': '756431', 'name': 'Ar...",2.4,3.929377,15.5,32.022648,0.0,0.0
1,"{'id': 1622441, 'id_str': '1622441', 'name': '...",0.2,0.600000,0.8,0.979796,1.0,0.0
2,"{'id': 2107671, 'id_str': '2107671', 'name': '...",0.4,0.489898,1.7,3.796051,0.0,0.0
3,"{'id': 3127331, 'id_str': '3127331', 'name': '...",2.3,5.216321,3.4,6.545227,0.0,0.0
4,"{'id': 4869021, 'id_str': '4869021', 'name': '...",8.4,16.805951,76.1,127.668673,25.0,3.0
5,"{'id': 5254511, 'id_str': '5254511', 'name': '...",0.1,0.300000,0.4,0.489898,2.0,1.0
6,"{'id': 5380442, 'id_str': '5380442', 'name': '...",20.7,52.431002,49.7,98.777578,12.0,0.0
7,"{'id': 6709582, 'id_str': '6709582', 'name': '...",1.5,1.857418,14.1,21.215325,7.0,2.0
8,"{'id': 7996082, 'id_str': '7996082', 'name': '...",134.2,194.910646,147.3,214.264346,20.0,44.0
9,"{'id': 8932752, 'id_str': '8932752', 'name': '...",0.3,0.640312,1.3,2.368544,0.0,0.0
10,"{'id': 9706822, 'id_str': '9706822', 'name': '...",95.2,250.186251,107.9,276.283351,4.0,1.0
11,"{'id': 10361342, 'id_str': '10361342', 'name':...",0.0,0.000000,0.9,0.538516,1.0,0.0
12,"{'id': 10939322, 'id_str': '10939322', 'name':...",0.2,0.400000,1.1,1.374773,0.0,0.0
13,"{'id': 12835712, 'id_str': '12835712', 'name':...",1.9,3.300000,2.5,2.500000,7.0,2.0
14,"{'id': 14206520, 'id_str': '14206520', 'name':...",0.2,0.400000,2.5,3.442383,0.0,0.0
15,"{'id': 14225088, 'id_str': '14225088', 'name':...",2.3,2.647640,3.0,5.882176,1.0,1.0
16,"{'id': 14549442, 'id_str': '14549442', 'name':...",1.2,1.326650,4.4,3.382307,3.0,0.0
17,"{'id': 14671522, 'id_str': '14671522', 'name':...",0.0,0.000000,0.1,0.300000,0.0,0.0
18,"{'id': 14922303, 'id_str': '14922303', 'name':...",0.2,0.600000,2.0,2.144761,0.0,0.0
19,"{'id': 15287119, 'id_str': '15287119', 'name':...",0.0,0.000000,0.2,0.400000,1.0,0.0
20,"{'id': 16084042, 'id_str': '16084042', 'name':...",0.4,0.663325,0.9,0.538516,1.0,0.0
21,"{'id': 16514160, 'id_str': '16514160', 'name':...",3.6,1.854724,4.5,5.084290,2.0,2.0
22,"{'id': 16557241, 'id_str': '16557241', 'name':...",0.2,0.400000,1.3,1.552417,2.0,0.0
23,"{'id': 16561071, 'id_str': '16561071', 'name':...",0.0,0.000000,0.1,0.300000,2.0,2.0
24,"{'id': 16629918, 'id_str': '16629918', 'name':...",0.0,0.000000,0.0,0.000000,0.0,0.0
25,"{'id': 16649277, 'id_str': '16649277', 'name':...",0.6,1.200000,4.7,4.050926,25.0,5.0
26,"{'id': 17309892, 'id_str': '17309892', 'name':...",12.0,25.915246,19.1,27.587860,16.0,9.0
27,"{'id': 17311841, 'id_str': '17311841', 'name':...",0.0,0.000000,1.0,1.483240,0.0,0.0
28,"{'id': 17591558, 'id_str': '17591558', 'name':...",3.6,2.870540,34.8,32.529371,137.0,12.0
29,"{'id': 17985040, 'id_str': '17985040', 'name':...",0.1,0.300000,1.5,2.247221,0.0,0.0
...,...,...,...,...,...,...,...
1641,"{'id': 1049706373020340225, 'id_str': '1049706...",0.0,0.000000,0.7,1.187434,3.0,0.0
1642,"{'id': 1049732297157734405, 'id_str': '1049732...",0.0,0.000000,0.2,0.400000,2.0,0.0
1643,"{'id': 1049740741654777856, 'id_str': '1049740...",0.6,0.916515,3.6,4.079216,5.0,0.0
1644,"{'id': 1049762784462950401, 'id_str': '1049762...",1.8,2.561250,5.9,7.529276,0.0,0.0
1645,"{'id': 1050016028485439488, 'id_str': '1050016...",0.0,0.000000,4.8,4.512206,167.0,3.0
1646,"{'id': 1050211530778824710, 'id_str': '1050211...",0.3,0.640312,6.7,6.435060,1.0,0.0
1647,"{'id': 1050434477191761925, 'id_str': '1050434...",0.0,0.000000,0.2,0.400000,1.0,0.0
1648,"{'id': 1050521156556607489, 'id_str': '1050521...",0.1,0.300000,0.1,0.300000,0.0,0.0
1649,"{'id': 1051218973780574210, 'id_str': '1051218...",0.9,2.385372,2.0,3.464102,1.0,0.0
1650,"{'id': 1051458706343452672, 'id_str': '1051458...",1.1,1.700000,3.9,4.526588,1.0,2.0
1651,"{'id': 1051574862014222337, 'id_str': '1051574...",4.1,3.935734,0.9,0.943398,0.0,0.0
1652,"{'id': 1051610132054982657, 'id_str': '1051610...",0.8,0.400000,0.5,0.500000,1.0,0.0
1653,"{'id': 1051953966215512069, 'id_str': '1051953...",0.0,0.000000,1.5,1.431782,1.0,0.0
1654,"{'id': 1053606833171128320, 'id_str': '1053606...",0.0,0.000000,0.0,0.000000,0.0,0.0
1655,"{'id': 1053749734337363968, 'id_str': '1053749...",0.5,0.670820,2.2,2.181742,0.0,0.0
1656,"{'id': 1054058346628685824, 'id_str': '1054058...",0.2,0.400000,0.9,1.374773,1.0,0.0
1657,"{'id': 1054370149409660928, 'id_str': '1054370...",0.1,0.300000,0.7,0.900000,0.0,0.0
1658,"{'id': 1054460119101120512, 'id_str': '1054460...",0.0,0.000000,0.0,0.000000,0.0,0.0
1659,"{'id': 1055485413169786882, 'id_str': '1055485...",0.1,0.300000,1.6,4.476606,0.0,0.0
1660,"{'id': 1055507171381862400, 'id_str': '1055507...",0.0,0.000000,1.0,0.000000,1.0,0.0
1661,"{'id': 1056550549099872256, 'id_str': '1056550...",0.3,0.640312,0.5,0.670820,1.0,0.0
1662,"{'id': 1057719405403144193, 'id_str': '1057719...",0.4,0.663325,1.5,1.284523,3.0,2.0
1663,"{'id': 1058343444224110593, 'id_str': '1058343...",0.2,0.600000,0.9,2.071232,0.0,0.0
1664,"{'id': 1059038318472630272, 'id_str': '1059038...",0.3,0.640312,0.3,0.640312,0.0,0.0
1665,"{'id': 1059082571676614656, 'id_str': '1059082...",0.0,0.000000,1.2,1.249000,0.0,0.0
1666,"{'id': 1059543378302513154, 'id_str': '1059543...",0.0,0.000000,0.1,0.300000,2.0,0.0
1667,"{'id': 1059911430403690498, 'id_str': '1059911...",0.0,0.000000,0.2,0.400000,0.0,0.0
1668,"{'id': 1060207374034788352, 'id_str': '1060207...",0.3,0.640312,2.5,6.530697,0.0,0.0
1669,"{'id': 1060646505772711937, 'id_str': '1060646...",0.2,0.400000,1.3,0.640312,1.0,0.0
1670,"{'id': 1060650191760560129, 'id_str': '1060650...",1.3,2.934280,3.9,7.515983,1.0,0.0

In [52]:
pd.DataFrame.to_csv(output2, "C:/Users/Albert Prat/Documents/tweempact/datasets/author.csv")

In [140]:
def trending_topic_df(df, path="c:/Users/Albert Prat/chromedriver.exe", just_dates=False):    
    from selenium import webdriver
    import pandas as pd
    import numpy as np
    import datetime
    
    if just_dates==False:
    # preparing elements to iterate
        textdf = df["Tweet"]
        cadf = df["created_at"]
        cadf = [date[:10] for date in cadf]
        cadf = np.unique(cadf)
        cadf = [date.split("-") for date in cadf]
        iterable_for_adding_dummy = [date[2]+date[1]+date[0] for date in cadf]
        # to be able to work with <, >
    if just_dates == True:
        iterable_for_adding_dummy = df
    # setting the minimum date to look for and preparing the filters   
    u = [datetime.datetime.strptime(date, "%d%m%Y") for date in iterable_for_adding_dummy]
    threshold = datetime.datetime.strptime("01032015", "%d%m%Y")
    filtr = [u[i]>=threshold for i in range(len(u))]
    filtr1 = [u[i]<threshold for i in range(len(u))]
    
    iterable = np.array(iterable_for_adding_dummy)[filtr]

    # which of the unique dates is before threshold?
    indices = [i for i, x in enumerate(filtr1) if x == True]
    
    # entering to browser and select the date box to be inputted
    browser = webdriver.Chrome(path)
    browser.get("https://trendogate.com/")
    date_dd = browser.find_element_by_xpath("//*[@id='userheaderbox']/div/form[2]/div[2]/input")
    
    # preparing output lists
    error = []
    grepl = []
    out = []
    for i in range(len(iterable)):
        browser.find_element_by_xpath("//select[@name='place']/option[text()='Spain']").click()
        date_dd = browser.find_element_by_xpath("//*[@id='userheaderbox']/div/form[2]/div[2]/input")
        if just_dates == False:
            date = iterable[i][:10]
            date = date.split("-")
            date = date[2]+date[1]+date[0]
        if just_dates == True:
            date = iterable[i]
        date_dd.send_keys(date)
        browser.find_element_by_xpath("//*[@id='userheaderbox']/div/form[2]/button").click()

        if len(browser.find_elements_by_class_name("alert")) == 1:
            error.append(date)
            out.append(None)
            pass
        else:
            b = browser.find_element_by_class_name("col-lg-8")
            lgi = b.find_elements_by_class_name("list-group-item")
            TT = [el.text for el in lgi]
            TT = ",".join(TT)
            out.append(TT)
    for index in indices:
        out.insert(index, None)
    dates = [date[:2]+"/"+date[2:4]+"/"+date[4:] for date in iterable_for_adding_dummy]
    tocsv = pd.DataFrame([dates, out]).T
    tocsv.columns=["date", "trending_topics"]
    return tocsv

In [54]:
def text_dataset(df):
    import re
    import pandas as pd
    l = list(df["text"])
    filtr = ["RT" not in i for i in l]
    df = df[filtr].reset_index(drop=True)
    
    Tweet =[re.sub("[(\n)(\r)]"," ",tweet) for tweet in df["text"]]
    entities = [tweet for tweet in df["entities"]]
    FC = [tweet for tweet in df["favorite_count"]]
    RT = [tweet for tweet in df["retweet_count"]]
    id_ = [tweet for tweet in df["id"]]
    j_user = [tweet for tweet in df["user"]]
    followers = [tweet["followers_count"] for tweet in df["user"]]
    
    CA = df["created_at"]
    CA_l = [time.strftime('%Y-%m-%d %H:%M:%S', time.strptime(CA[i],'%a %b %d %H:%M:%S +0000 %Y'))for i in range(0,len(CA))]
    
    output = pd.DataFrame([id_,Tweet,j_user,CA_l,entities,followers, FC,RT]).T
    output.reset_index(drop=True)
    output.columns = ["id", "Tweet", "j_user","created_at", "entities", "followers_user", "FC","RT"]
    return output

In [55]:
output1 = text_dataset(df1)
output2 = text_dataset(df2)

In [62]:
#pd.DataFrame.to_csv(output2, "C:/Users/Albert Prat/Documents/tweempact/datasets/tweet.csv")

In [1051]:
tocsv = trending_topic_df(output2)

In [2]:
def widen_TT_csv(df):
    old = pd.read_csv(r"C:\Users\Albert Prat\Documents\tweempact\datasets\tweet.csv")
    ca_old = old["created_at"]
    ca_old = [date[:10] for date in ca_old]
    ca_old = np.unique(ca_old)
    ca_old = [date.split("-") for date in ca_old]
    ca_old = [date[2]+date[1]+date[0] for date in ca_old]
    
    ca_new = df["created_at"]
    ca_new = [date[:10] for date in ca_new]
    ca_new = np.unique(ca_new)
    ca_new = [date.split("-") for date in ca_new]
    ca_new = [date[2]+date[1]+date[0] for date in ca_new]
    
    new_dates = set(ca_new) - set(ca_old)
    
    trend = trending_topic_df(list(new_dates), just_dates = True)
    output = pd.concat([old, trend], axis = 0).reset_index(drop = True)
    return output

In [3]:
output.to_csv(r"C:\Users\Albert Prat\Documents\tweempact\datasets\trending_topics.csv")

In [4]:
def append_dummy_TT(df):
    import re
    import unidecode
    import pandas as pd
    import ast
    
    textdf = df["Tweet"]
    trending_topics = pd.read_csv(r"C:\Users\Albert Prat\Documents\tweempact\datasets\trending_topics.csv")
    TT = trending_topics["trending_topics"]
    indices = TT[TT.isnull()].index
    # get TT as a list of lists
    out = []
    for i in range(len(TT)):
        if i in indices:
            out.append(None)
        else:
            t = TT[i].split(",")
            out.append(t)
    # date management
    ca = list(df["created_at"])
    ca = [date[:10] for date in ca]
    sp_d = [date.split("-") for date in ca]
    sp_d = [date[2]+date[1]+date[0] for date in sp_d]
    # just keeping unique dates
    ca = list(trending_topics["date"])
    unique_date = np.unique(ca)
    unique_date = [date.split("/") for date in unique_date]
    unique_date = [date[2]+date[1]+date[0] for date in unique_date]
    # append sp_d for the sake of indexing
    df["spanish_date"]=sp_d
    grepl = []
    for i in range(len(sp_d)):
        ls = []
        date = df[df.index == i]["spanish_date"][i]
        tweet = textdf[i].lower()
        tweet = unidecode.unidecode(tweet)
        index = np.where(trending_topics["date"]==(sp_d[i][:2]+"/"+sp_d[i][2:4]+"/"+sp_d[i][4:]))
        TT = out[index[0][0]]
        if TT == None:
            grepl.append(None)
        else:
            for word in TT:
                word = word.lower()
                word = unidecode.unidecode(word)
                word1 = re.sub(" ", "", word)
                ls.append(bool(re.search(r"\b"+str(word)+r"\b"+r"|\b"+str(word1)+r"\b", tweet)))
            grepl.append(np.sum(ls))
    df = df.drop("spanish_date", axis = 1)
    df["trending_topic"]=grepl
    df.reset_index(drop = True)
    
    df1 = pd.read_csv(r"C:\Users\Albert Prat\Documents\tweempact\datasets\tweet.csv", index_col=0)
    dropped = []
    for column in df.columns:
        dtype = type(df[column][0])
        if dtype == dict:
            df[column] = df[column].astype(str)
            dropped.append(column)
    df = pd.concat([df1,df], axis = 0).drop_duplicates().reset_index(drop=True)
    df.reset_index(drop = True)
    return df

In [493]:
out2 = append_dummy_TT(output2)

In [510]:
out2.to_csv(r"C:\Users\Albert Prat\Documents\tweempact\datasets\tweet.csv")

In [511]:
out = pd.read_csv(r"C:\Users\Albert Prat\Documents\tweempact\datasets\tweet.csv", index_col=0)

In [514]:
len(out2)

42216

In [367]:
out.to_csv(r"C:\Users\Albert Prat\Documents\tweempact\datasets\tweet.csv")